@media (min-width: 1025px) {
   nav.mobile {
      display: none;
   }

   nav.desktop {
      display: block;
      z-index: 1;
   }

   main {
      width: 100%;
      justify-content: space-between;
      position: relative;
      height: 100vh;

      .main-wrap {
         margin-left: 60px;

         h1 {
            font-size: 20vh;
            line-height: 20vh;
         }
      }

      .hero-image {
         display: block;
         position: absolute;
         top: 40px;
         right: 100px;

         img {
            width: 330px;
            margin: 50px 100px;
            transform: rotate(-20deg);
         }
      }
   }

   .menu {
      display: none;
   }

   section.product {

      .text1 {
         flex-basis: 70%;
         margin: 100px;
      }

      .img1 {
         display: block;
         flex-basis: 30%;
      }

   }

   section.about {
      .img2 {
         display: block;
      }

      .text2 {
         margin: 100px
      }
   }
}